.screen-Container{
    display: flex;
    max-height: 25vh;

    .screen-Content{
        display: inline-block;
        
        .action_btn {
            width: 300px;
            margin: auto;

                .btn-yes {
                    background: var(--dl-page-bg);
                    margin-right: 16px;
                }
                .btn-no {
                    background: var(--dl-page-bg);
                }
        }
    }
}